<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>join</title>
</head>
<body>
  <div id="header" class="join_membership" style="text-align:center;">
    <h1><a href="/">BOARD</a></h1>
  </div>
  <form id="join_form" method="post" action="/member/join">
    이메일 : <input type="text" name="email"> <br>
    비밀번호 : <input type="password" name="password"> <br>
    닉네임 : <input type="text" name="nickName"> <br>
    <input type="submit" value="회원가입">
  </form>
</body>
</html>